[submodule "lib/pythia"]
	ignore = untracked
	path = lib/pythia
	url = git@github.com:EleutherAI/pythia.git
[submodule "lib/svcca"]
	# dirty 
	ignore = untracked
	path = lib/svcca
	url = https://github.com/google/svcca.git
[submodule "pythia"]
	path = pythia
	url = https://github.com/EleutherAI/pythia.git
